.card {
    height: 30em;
    padding: 1em;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 20px;
    border:        #E5E7EB;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .intro {
    padding: 1em;
  }
  
  .start {
    align-self: center;
    margin-top: 1rem;
  }