.card {
  height: 30em;
  padding: 1em;
  background-color: #ffffffca;
  text-align: left;
  border-radius: 20px;
  border: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 1em;
}

.start {
  align-self: center;
  margin-top: 1rem;
}
